$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$iconXaxis-tiktok: '\e900';
$iconXaxis-instagram: '\e901';
$iconXaxis-facebook-messenger: '\e902';
$iconXaxis-facebook-f: '\e903';
$iconXaxis-facebook: '\e904';
$iconXaxis-video: '\e905';
$iconXaxis-users: '\e906';
$iconXaxis-user-circle: '\e907';
$iconXaxis-upload: '\e908';
$iconXaxis-trash-alt: '\e909';
$iconXaxis-times: '\e90a';
$iconXaxis-search: '\e90b';
$iconXaxis-question-circle: '\e90c';
$iconXaxis-power-off: '\e90d';
$iconXaxis-plus: '\e90e';
$iconXaxis-paper-plane: '\e90f';
$iconXaxis-map-marked-alt: '\e910';
$iconXaxis-list: '\e911';
$iconXaxis-images: '\e912';
$iconXaxis-image: '\e913';
$iconXaxis-home: '\e914';
$iconXaxis-folder: '\e915';
$iconXaxis-folders: '\e916';
$iconXaxis-filter: '\e917';
$iconXaxis-edit: '\e918';
$iconXaxis-download: '\e919';
$iconXaxis-cloud-upload: '\e91a';
$iconXaxis-clock: '\e91b';
$iconXaxis-chevron-down: '\e91c';
$iconXaxis-chevron-left: '\e91d';
$iconXaxis-chevron-right: '\e91e';
$iconXaxis-chevron-up: '\e91f';
$iconXaxis-chart-pie-alt: '\e920';
$iconXaxis-chart-pie: '\e921';
$iconXaxis-bell: '\e922';
$iconXaxis-calendar-alt: '\e923';
$iconXaxis-calendar: '\e924';
$iconXaxis-border-none: '\e925';
